---
before_install: gem update bundler
before_script:
  - psql -c 'create database adopta_test;' -U postgres
  - psql -U postgres -c "create extension postgis"
  - bundle exec rake db:schema:load
after_script: bundle exec rubocop -R
bundler_args: --without assets:development:production
env:
  - TEST_DATABASE_USERNAME=postgres
language: ruby
rvm:
  - 2.3.3
addons:
  postgresql: "9.3"
  code_climate:
    repo_token: ab3c692cf8f6dd9c41e6e77417096877a764ded0fec448a03cf5c70b06ea8e0e
